@import "tailwindcss";

:root {
  --background: #000814;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden; 
}


.scrollbar-hide {
  /* Firefox üçün */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}